
<div class="center bg-gray">
<!-- Titulo Component -->
    <app-title></app-title>
</div>


<!-- Tabla -->
<div class="card">
    <p-table 
    #dt1 
    [value]="countriesList" 
    dataKey="id" 
    [rows]="10" 
    [showCurrentPageReport]="true"
	[rowsPerPageOptions]="[10,25,50]" 
    styleClass="p-datatable-customers p-datatable-striped" [paginator]="true"
	currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
	[globalFilterFields]="['name','country.name','representative.name','status']"
    >
<!-- rowsPerPageOptions no se por que no funciona ↖↖↖↖↖↖ -->
        <ng-template pTemplate="header">
        <!--Encabezados tabla -->
            <tr>
                <th pSortableColumn="name">Name<p-sortIcon field="name"></p-sortIcon></th>
                <th pSortableColumn="capital">Capital<p-sortIcon field="capital"></p-sortIcon></th>
                <th pSortableColumn="population">Population<p-sortIcon field="population"></p-sortIcon></th>
            </tr>
        <!--End Encabezados tabla -->
    <!-- Filtros -->   
            <tr>
                <th>
                    <p-columnFilter type="text" field="name"></p-columnFilter>
                </th>
                <th>
                    <p-columnFilter type="text" field="capital"></p-columnFilter>
                </th>
                <th>
                    <p-columnFilter type="text" field="population"></p-columnFilter>
                </th>
            </tr>
        </ng-template>
    <!--End Filtros -->
    <!-- Columns -->
        <ng-template pTemplate="body" let-country>
            <tr>
                <td>{{country.name}}</td>
                <td>{{country.capital}}</td>
                <td>{{country.population | number}}</td>
            </tr>
        </ng-template>
    <!--End Columns -->
    <!-- En caso de no encontrar data-->
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="5">No customers found.</td>
            </tr>
        </ng-template>
    </p-table>

</div>

















<!-- <div class="card">
    <p-table 
    [value]="countriesList" 
    [paginator]="true" 
    [rows]="10" 
    [showCurrentPageReport]="true" 
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [rowsPerPageOptions]="[10,25,50]"
    >
        <ng-template pTemplate="header">
        <tr>
            <th>Name</th>
            <th>Capital</th>
            <th>Population</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-country>
        <tr>
            <td>{{country.name}}</td>
            <td>{{country.capital}}</td>
            <td>{{country.population}}</td>
        </tr>
    </ng-template>
    <ng-template let-item pTemplate="paginatordropdownitem">
        {{15}} - per page
    </ng-template>
    </p-table>
</div> -->